
<img class="sadface" id="sadFaceImg"  src="/static/images/brokingPic.jpg" alt="sad face" />
<h1>404</h1>
<p>
{{data}}

</p>
<h2>Page not found</h2>
 <div class="admin">
     <div class="format-404" >
 <a href="/">Go to Home</a>
     </div>
     <div class="format-404">
  <a href="/administrator">Go Admin Panel</a>
     </div>
      <div class="format-404">
  <a href="/login">Go Login Panel</a>
     </div>
 </div>
