<h1>About This web Site</h1>
<div class="about">
    <p>
        <i>"Cubicle"</i> is a place, where you can browse some of own created tabs and add
        some new things
        you have discovered. This application was created as an exercise for the <a
            href="http://localhost:3000">Under Construction Web Site</a> 
     
    </p>
</div>