
<div class="admin">
<li><a href="/paymentHistory">View History</a></li>
</div>
<h1>Payment Page</h1>
<p>Expense Tracker</p>

<div class="form">
  <form action="/createPay" method="POST">
        <select name="sender">
            <option >Select Sender Name*</option>
            <option value="Todor" selected>Todor Yankov Karachorbadzhiev</option>
            <option value="Dimo" name="nameSender">Dimo Yankov Karachorbadzhiev</option>
            <option value="Ivanka" name="nameSender">Ivanka Dimova Karachorbadzhieva</option>
        </select>

        <select name="resiver">
            <option >Select Resiver Name*</option>
            <option value="Todor">Todor Yankov Karachorbadzhiev</option>
            <option value="Dimo" selected>Dimo Yankov Karachorbadzhiev</option>
            <option value="Ivanka">Ivanka Dimova Karachorbadzhieva</option>
        </select>
        <label for="date">Data:</label>
        <p style="display:inline-block; color: grey">Format: dd/mm/yyyy</p>
        <input name="date" type="text" value="{{dateBg}}" placeholder="{{dateBg}}">
        <label for="amount">Amount:</label>
        <input placeholder="0.00*" id="price" name="amount" value="">
        <label style="display: block; margin-top: 2em" for="description">Description:</label>
        <textarea id="name" placeholder="Pay for?" name="description"></textarea>
        <label for="imageURL">IMAGE:</label>
        <input type="text" placeholder="Add image" id="image" name="imageUrl" value="">
        <input type="submit" value="Publish">
    </form>
</div>