<h1>Login Form</h1>
<div class="form">
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{reLogin}}">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
          <p>Not registered yet? <a style="color:red" href="/register">Register Now!</a></p>

    </form>
</div>