  {{!-- <h4></h4>You have visit this site {{visitNumber}} times</h4> --}}
<div class="admin">
<li><a href="/createPay">Create</a></li>
<p>Table:</p>
   <table>
  <colgroup class="colgroup">
    <col style="background-color:burlywood">
    <col span="99">
  </colgroup>
    <tr class="tr"> 
     <th>Date:</th>
    <th>Sender</th>
    <th>Resiver</th>
    <th>Money</th>
    <th>description</th>
    </tr>
    {{#each tablePays}}
     <tr class="tr">
    {{> payPreview}}
     </tr>
    {{else}}
    <p>No pays in database. <a href="/createPay">Create the first listing!</a></p>
    {{/each}}

 </table>
</div>
