<h1>Register Form</h1>
<div class="form">
    <form action="/register" method="POST">
        <label for="username">Username*</label>
        <input type="text" id="username" name="username" value="{{data.username}}">
        <label for="password">Password*</label>
        <input type="password" id="password" name="password" value="{{data.password}}">
        <label for="repeatPassword">Re-Password*</label>
        <input type="password" id="repeatPassword" name="repeatPassword">

   <label for="email">Email address</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" value="{{data.email}}">
        
        <label>Gender</label>    
        <input type="radio" id="female" name="gender" value="female" {{#unless data.isMale}}checked{{/unless}}>
        <label for="female">Female</label>
        <input type="radio" id="male" name="gender" value="male" {{#if data.isMale}}checked{{/if}}>
        <label for="male">Male</label>
           
                       
                       
                            <p>Already have account? <a style="color:red" href="/login">Login Now!</a></p>
                       
        <input type="submit" value="Register">
    </form>
</div>

      